* {
    margin: 0;
    padding: 0;
}

breakpoint {
    max-width: 100%;
    display: inline-block;
}

/* 2 columnas para tablets */
@media (min-width: 420px) {
    breakpoint {
        max-width: 48%;

    }
}

/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
    breakpoint {
        max-width: 24%;
    }
}

.topnav {
    overflow: hidden;
    background-image: linear-gradient(to right, black, goldenrod);
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: gold;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Alfa Slab One';
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.tamañologo {
    width: 100px;
}

body {
    background-color: darkgoldenrod;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form input {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#name {
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#email {
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#password {
    width: 200px;
    height: 25px;
    font-size: 15px;
}

#confirmpassword {
    width: 200px;
    height: 25px;
    font-size: 15px;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}

.button {
    background-color: black;
    color: red;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-radius: 20%;
    font-size: 17px;
    width: 207px;
}