* {
    margin: 0;
    padding: 0;
}

breakpoint {
    max-width: 100%;
    display: inline-block;
}

/* 2 columnas para tablets */
@media (min-width: 420px) {
    breakpoint {
        max-width: 48%;

    }
}

/* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
    breakpoint {
        max-width: 24%;
    }
}


table {
    border: 2px solid black;
    margin-left: 5px;
    text-align: center;
    margin-bottom: 5px;
}

table th {
    padding: 10px;
}

table td {
    padding: 10px;
}

.datosjugador {
    font-size: 17px;
    margin: 15px;
}

.datosjugador input {
    margin: 15px;
}

.infopnj input {
    width: 220px;
    height: 30px;
}

.infopnj1 input {
    width: 150px;
    height: 30px;
}

.infopnj2 input {
    width: 130px;
    height: 30px;
}

.firstsection {
    float: left;
}

